<div class="landing">
  <div class="hero">
    <div class="logo">&#9825;</div>
    <h1>Plataforma Hospy</h1>
    <p>Selecciona tu rol en la institución para acceder a tu entorno seguro.</p>
  </div>

  <div class="portals">
  <a routerLink="/admin/login" class="portal-card purple">
    <div class="icon purple-bg">&#128737;</div>
    <div class="info">
      <h2>Administrador / Gerencia</h2>
      <p>Acceso al panel de control e informes estadísticos</p>
      <span class="tag purple-tag">&#128274; Autenticación Requerida</span>
    </div>
    <span class="arrow">&#8250;</span>
  </a>

  <a routerLink="/medico/login" class="portal-card blue">
    <div class="icon blue-bg">&#128196;</div>
    <div class="info">
      <h2>Cuerpo Médico Especialista</h2>
      <p>Consultorio virtual, historias clínicas y agendas</p>
      <span class="tag blue-tag">&#128274; Autenticación Requerida</span>
    </div>
    <span class="arrow">&#8250;</span>
  </a>

  <a routerLink="/paciente/login" class="portal-card green">
    <div class="icon green-bg">&#9825;</div>
    <div class="info">
      <h2>Portal de Pacientes</h2>
      <p>Historial clínico y agendamientos totalmente en línea</p>
      <span class="tag green-tag">&#8594; Ingreso mediante credenciales</span>
    </div>
    <span class="arrow">&#8250;</span>
  </a>
  </div>
</div>
